.logo {

    width: 150px;
}


h1, h3, h5{

    font-weight: bold;
}

h6 {

    color:orangered;
}

.manu-color a {

    font-weight: bold;
}
.container{

    margin-bottom: 50px;
}
.carousel-item {

    padding: 20px 40px;
}

.buy-now {

    background-color:purple;
    color: white;
    border-radius: 8px;
    padding: 10px;
}


.buy-now:hover {

   background-color: orangered;
}
.Smartphone img {

    margin: 20px 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.Smartphone {
    
    border: none;
    text-align: center;
    
}


.categories {

    text-align: center;
    
}

.cat1 img {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
}

.cat2{

    
    margin-bottom: 50px;
}

.cat2 img {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}


.cat3 img {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}


.smartphone-Laptop {

    margin-bottom: 50px;
    
}

.pale-order img {

    width: 500px;
}

.contuctus {
    
    background-color: palegreen;
    text-align: center;
    height: 220px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius: 10px;
}


.underline {

    background-color: purple;
    margin-left: 450px;
    height: 5px;
    width: 200px;
    margin-bottom: 50px;
    border-radius: 10px;

}


.footer-bar {

    text-align: center;
}